.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
@media screen and (max-width: 676px) {
    .posts{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and (max-width: 500px) {
    .posts{
        grid-template-columns: repeat(1,1fr);
    }
}
.post_content:first-child{
    grid-column: span 3;
    width: 50%;
}
@media screen and (max-width: 676px) {
    .post_content:first-child{
        grid-column: span 2;
        width: 100%;
    }
    
}
@media screen and (max-width: 500px) {
    .post_content:first-child{
        grid-column: span 1;
        width: 100%;
    }
    
}

.post_picture{
    object-fit: contain;
}
.post_img{
    width: 100%;
}

.post_info{
    display: flex;
    justify-content: space-between;
}

.btns_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btns_pagination button{
    background-color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}