.navbar_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}
.user_login_info{
    display: flex;
    align-items: center;
    gap: 1rem;
}